<article>

    <main class="container">

        <div class="row wrapper">
            <a class="col-md cat people" href="/people">
                <div>
                    <h3 id="people">People</h3>
                    <picture>
                        <source type="image/webp" srcset="/img/l-luke_skywalker.webp" media="(min-width: 992px)">
                        <source type="image/webp" srcset="/img/m-luke_skywalker.webp" media="(min-width: 768px)">
                        <source type="image/webp" srcset="/img/s-luke_skywalker.webp">
                        <source srcset="/img/l-luke_skywalker.jpg" media="(min-width: 992px)">
                        <source srcset="/img/m-luke_skywalker.jpg" media="(min-width: 768px)">
                        <source srcset="/img/s-luke_skywalker.jpg">
                        <img alt="Millenium Falcon" src="/img/luke_skywalker.jpg"/>
                    </picture>
                    <div class="placeholder"></div>
                </div>
            </a>
            <a href="/planets" class="col-md cat planets">
                <div>
                    <h3 id="planets">Planets</h3>
                    <picture>
                        <source type="image/webp" srcset="/img/mustafar.webp" media="(min-width: 992px)">
                        <source type="image/webp" srcset="/img/m-mustafar.webp" media="(min-width: 768px)">
                        <source type="image/webp" srcset="/img/s-mustafar.webp">
                        <source srcset="/img/mustafar.jpg" media="(min-width: 992px)">
                        <source srcset="/img/m-mustafar.jpg" media="(min-width: 768px)">
                        <source srcset="/img/s-mustafar.jpg">
                        <img alt="Millenium Falcon" src="/img/mustafar.jpg"/>
                    </picture>
                    <div class="placeholder"></div>
                </div>
            </a>
          <a href="/planets" class="col-md cat species">
              <div>
                  <h3 id="species">Species</h3>
                  <picture>
                      <source type="image/webp" srcset="/img/species.webp" media="(min-width: 992px)">
                      <source type="image/webp" srcset="/img/m-species.webp" media="(min-width: 768px)">
                      <source type="image/webp" srcset="/img/s-species.webp">
                      <source srcset="/img/species.jpg" media="(min-width: 992px)">
                      <source srcset="/img/m-species.jpg" media="(min-width: 768px)">
                      <source srcset="/img/s-species.jpg">
                      <img alt="Millenium Falcon" src="/img/species.jpg"/>
                  </picture>
                  <div class="placeholder"></div>
              </div>
          </a>
         <a href="/starships" class="col-md cat starships">
             <div>
                 <h3 id="starships">Starships</h3>
                 <picture>
                     <source type="image/webp" srcset="/img/millenium.webp" media="(min-width: 992px)">
                     <source type="image/webp" srcset="/img/m-millenium.webp" media="(min-width: 768px)">
                     <source type="image/webp" srcset="/img/s-millenium.webp">
                     <source srcset="/img/millenium.jpg" media="(min-width: 992px)">
                     <source srcset="/img/m-milleniium.jpg" media="(min-width: 768px)">
                     <source srcset="/img/s-millenium.jpg">
                     <img alt="Millenium Falcon" src="/img/millenium.jpg"/>
                 </picture>
                 <div class="placeholder"></div>
             </div>
         </a>

        </div>

    </main>

</article>

