<article>

    <main>

        <!--<p id="loader">Loading...</p>-->
        <button id="back" style="display:none;">back</button>


        <div class="wrapper nav">
            <h3 id="people"><a href="#people">People</a></h3>
            <h3 id="planets"><a href="#planets">Planets</a></h3>
            <h3 id="species"><a href="#species">Species</a></h3>
            <h3 id="starships"><a href="#starships">Star-ships</a></h3>
        </div>

        <section id="content"></section>

    </main>

</article>