<article>

    <main class="container">

        <div class="row wrapper">
            <a class="col-md cat people" href="/people">
                <div>
                    <h3 id="people">People</h3>
                </div>
            </a>
            <a href="/planets" class="col-md cat planets">
                <div>
                    <h3 id="planets">Planets</h3>
                </div>
            </a>
          <a href="/planets" class="col-md cat species">
              <div>
                  <h3 id="species">Species</h3>
              </div>
          </a>
         <a href="/starships" class="col-md cat starships">
             <div>
                 <h3 id="starships">Starships</h3>
             </div>
         </a>

        </div>

    </main>

</article>

<div class="loader">

    <img src="/img/deathstar.png"/>

</div>
