html,
body {
    min-height: 100%;
    height: 100%;
    background: #131313;
    color: white;
}

article a, article a:hover {
    color: white;
    text-decoration: none;
}

.cat {
    background-position: center;
    background-size: cover;
    height: 300px;
}

.placeholder {
    height: 100%;
    width: 100%;
    position: absolute;
    background: gray;
}

.cat > div {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

    .cat img,
    picture {
        object-fit: cover;
        width: auto;
        position: absolute;
        height: 100%;
        left:-50px;
        top:0;
        z-index: 900;
    }

    .cat > div h3 {
        z-index: 999;
    }

.loader {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: #131313;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loader img {
    height: 300px;
    width: auto;
}